<!doctype html>
<html lang="en-AU">
<head>
<meta charset="utf-8">
<title>{% if title %}Brendan Murty - {{ title }}{% else %}Brendan Murty{% endif %}</title>
{% include "common/meta.njk" %}
{% include "common/meta-brendan.njk" %}
{% include "common/analytics.njk" %}
</head>