<meta name="theme-color" content="#23c5b0">
<link rel="icon" sizes="192x192" href="/images/brendan/icon-192.png">
<link rel="me" href="https://mastodon.social/@murty">

<meta name="description" content="Brendan is a Father, Schnitzel Reviewer, Software Engineering Manager and Technical Lead.">
<meta property="og:title" content="{% if title %}Brendan Murty - {{ title }}{% else %}Brendan Murty{% endif %}">
<meta property="og:description" content="Brendan is a Father, Schnitzel Reviewer, Software Engineering Manager and Technical Lead.">