{% include "common/header.njk" %}
<body class="brendan brendan_post">
  <section class="container">
    <header>
      {% include "common/heading.njk" %}
    </header>

    <article>
      <h2><a href="/">Home</a> > <a href="/posts">Posts</a> > {{ title }}</h2>

      <p class="post-date">{{ date | date('d LLL yyyy') }}</p>

      <ul class="tag-list">
        {% for tag in tags %}
        <li>
          <a class="tag-link" href="/tags/{{ tag }}" title="View posts tagged with {{ tag }}">
            <span class="icon fa-fw fa-solid fa-tag"></span>
            {{ tag }}
          </a>
        </li>
        {% endfor %}
      </ul>

      {{ content | safe }}

      {% include "photos/photo-data.njk" %}
    </article>
  </section>
</body>
{% include "common/footer.njk" %}
