{% include "common/header.njk" %}
<body class="brendan brendan_posts">
  <section class="container">
    <header>
      {% include "common/heading.njk" %}
    </header>

    <article>
      <h2><a href="/">Home</a> > Posts</h2>

      <ul class="brendan_posts">
        {% include "posts/post-list-items.njk" %}
      </ul>
    </article>
  </section>
</body>
{% include "common/footer.njk" %}
