---
title: Gallery
layout: layouts/page.layout.njk
body_class: page-gallery
---

<h2><a href="/">Home</a><span class="icon icon-breadcrumb fa-fw fa-solid fa-caret-right"></span>Gallery</h2>

<ul class="page-gallery">
{% include "photos/gallery-list.njk" %}
</ul>