{% include "common/header.njk" %}
<body class="brendan brendan_gallery">
  <section class="container">
    <header>
      {% include "common/heading.njk" %}
    </header>

    <article>
      <h2><a href="/">Home</a><span class="icon icon-breadcrumb fa-fw fa-solid fa-caret-right"></span>Gallery</h2>
      
      <ul class="brendan_gallery">
        {% include "photos/gallery-list-items.njk" %}
      </ul>
    </article>
  </section>
</body>
</html>