{% set posts = search.pages("Photo", "date=desc") %}

{% for post in posts %}
{% if post.photo_file %}
<li>
  <a href="{{ post.url }}" title="{{ post.title }}">
    {% if post.photo_thumb_url %}
    <img src="{{ post.photo_thumb_url }}" alt="{{ post.title }}" width="350" height="350" />
    {% else %}
    <img src="{{ post.photo_url }}" alt="{{ post.title }}" width="350" height="350" />
    {% endif %}
  </a>
</li>
{% endif %}
{% endfor %}