{% if photo_file %}
<ul class="photo-data">
  <li>
    <span class="data-title">Created</span>
    <span class="data-value">
      {{ comp.icon({ file: "calendar-days", type: "data" }) | safe }}
      {{ date | date('d LLL yyyy') }}
    </span>
  </li>
  {% if photo_device %}<li>
    <span class="data-title">Device</span>
    <span class="data-value">
      {{ comp.icon({ file: "camera", type: "data" }) | safe }}
      {{ photo_device }}
    </span>
  </li>{% endif %}
  {% if photo_aperture %}<li>
    <span class="data-title">Aperture</span>
    <span class="data-value">
      {{ comp.icon({ file: "circle-stop", type: "data" }) | safe }}
      ƒ/{{ photo_aperture }}
    </span>
  </li>{% endif %}
  {% if photo_megapixel %}<li>
    <span class="data-title">Megapixels</span>
    <span class="data-value">
      {{ comp.icon({ file: "bullseye", type: "data" }) | safe }}
      {{ photo_megapixel }}
    </span>
  </li>{% endif %}
  {% if photo_iso %}<li>
    <span class="data-title">ISO</span>
    <span class="data-value">
      {{ comp.icon({ file: "info", type: "data" }) | safe }}
      {{ photo_iso }}
    </span>
  </li>{% endif %}
  {% if photo_focallength %}<li>
    <span class="data-title">Focal Length</span>
    <span class="data-value">
      {{ comp.icon({ file: "eye", type: "data" }) | safe }}
      {{ photo_focallength }}mm
    </span>
  </li>{% endif %}
</ul>
{% endif %}