{% if photo_file %}
<ul class="photo-data">
  <li>
    <span class="data-title">Created</span>
    <span class="data-value">
      <span class="icon-data icon fa-fw fa-solid fa-calendar-days"></span>
      {{ date | date('d LLL yyyy') }}
    </span>
  </li>
  {% if photo_device %}<li>
    <span class="data-title">Device</span>
    <span class="data-value">
      <span class="icon-data icon fa-fw fa-solid fa-camera"></span>
      {{ photo_device }}
    </span>
  </li>{% endif %}
  {% if photo_aperture %}<li>
    <span class="data-title">Aperture</span>
    <span class="data-value">
      <span class="icon-data icon fa-fw fa-solid fa-circle-dot"></span>
      ƒ/{{ photo_aperture }}
    </span>
  </li>{% endif %}
  {% if photo_megapixel %}<li>
    <span class="data-title">Megapixels</span>
    <span class="data-value">
      <span class="icon-data icon fa-fw fa-solid fa-bullseye"></span>
      {{ photo_megapixel }}
    </span>
  </li>{% endif %}
  {% if photo_iso %}<li>
    <span class="data-title">ISO</span>
    <span class="data-value">
      <span class="icon-data icon fa-fw fa-solid fa-info"></span>
      {{ photo_iso }}
    </span>
  </li>{% endif %}
  {% if photo_focallength %}<li>
    <span class="data-title">Focal Length</span>
    <span class="data-value">
      <span class="icon-data icon fa-fw fa-solid fa-eye"></span>
      {{ photo_focallength }}mm
    </span>
  </li>{% endif %}
</ul>
{% endif %}