$RECYCLE.BIN/
.DS_Store
node_modules
**/node_modules
cache
temp
src/cli/temp/

build/
public/
dist/

.env
.env.*
*.env
!.env.sample

# Logs and Tests

*.log
.logs/*
!/.logs/.gitkeep
.coverage/
coverage.*

# AI tools

.antigravitycli
.claude
.delta
