# Treat Go files as binaries, ignoring default Git line-ending changes

*.go -text diff=golang

# GitHub repo linguist configuration

.github/** -linguist-detectable
.zed/** -linguist-detectable
.env.* -linguist-detectable
.prototypes/** -linguist-detectable
.* -linguist-detectable
.*.* -linguist-detectable
opencode.json -linguist-detectable
deno.lock linguist-generated
**/go.sum linguist-generated

content/** linguist-documentation
docs/** linguist-documentation

*.js linguist-language=javascript
*.ts linguist-language=typescript
*.tsx linguist-language=typescript
