<!doctype html>
<html lang="en-AU">
<head>
<meta charset="utf-8">

<title>{% if title %}Brendan Murty - {{ title }}{% else %}Brendan Murty{% endif %}</title>

<meta name="author" content="Brendan Murty">
<meta name="description" content="Father, Schnitzel Reviewer and Senior Software Engineer">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="480">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#23c5b0">

<link rel="preload" href="/fonts/MDNichrome-Regular.woff" as="font" crossorigin="anonymous">
<link rel="preload" href="/fonts/MDSystem-Regular.woff" as="font" crossorigin="anonymous">

<link rel="icon" sizes="192x192" href="/images/brendan/icon-192.png">
<link rel="stylesheet" href="/css/styles.min.css">

<link rel="alternate" title="Posts by Brendan Murty" type="application/json" href="https://murty.io/brendan/posts.json">
</head>