<!doctype html>
<html lang="en-AU">
<head>
<meta charset="utf-8">
<title>{% if title %}Brendan Murty - {{ title }}{% else %}Brendan Murty{% endif %}</title>
<meta name="author" content="Brendan Murty">
<meta name="description" content="Brendan is a Senior Software Engineer, Father and Schnitzel Reviewer.">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="480">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#23c5b0">
<meta property="og:locale" content="en_GB" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://murty.au{{ url }}" />
<meta property="og:title" content="{% if title %}Brendan Murty - {{ title }}{% else %}Brendan Murty{% endif %}" />
<meta property="og:description" content="Brendan is a Senior Software Engineer, Father and Schnitzel Reviewer." />
<meta property="og:image" content="https://murty.au/images/brendan/brendan-luca_750.jpg" />
<meta property="og:image:alt" content="Brendan wearing glasses while holding Luca with trees in the background" />
<meta property="og:image:width" content="750" />
<meta property="og:image:height" content="750" />
<link rel="me" href="https://mastodon.social/@murty">
<link rel="canonical" href="https://murty.au{{ url }}" />
<link rel="preload" href="/fonts/MDNichrome-Regular.woff" as="font" crossorigin="anonymous">
<link rel="preload" href="/fonts/MDSystem-Regular.woff" as="font" crossorigin="anonymous">
<link rel="icon" sizes="192x192" href="/images/brendan/icon-192.png">
<link rel="stylesheet" href="/css/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/css/styles.min.css">
<link rel="alternate" title="Posts by Brendan Murty" type="application/json" href="https://murty.au/brendan/posts.json">
{% include "../analytics.njk" %}
</head>