{% include "brendan/header.njk" %}
<body class="brendan brendan_index">
  <section class="container">
    <header>
      {% include "brendan/heading.njk" %}
    </header>

    <article>
      <p class="intro">
        Father, Schnitzel Reviewer at <a href="https://schnitmydadsays.com/">SchnitMyDadSays</a> and Engineering Team Lead at <a href="https://www.our-trace.com/">Trace</a>.
      </p>

      {% include "brendan/post-latest.njk" %}

      {% include "brendan/lastfm-loved-tracks.njk" %}

      <ul class="listing">
        <li class="listing-header">
          <h2>Content</h2>
        </li>
        <li>
          <a href="/brendan/posts" title="View my posts">
            <span class="icon fa-fw fa-solid fa-box-archive"></span>
            <span class="label">Posts</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/brendanmurty" title="View my Twitter profile">
            <span class="icon fa-fw fa-brands fa-twitter"></span>
            <span class="label">Twitter</span>
          </a>
        </li>
        <li>
          <a rel="me" href="https://murty.social/@brendan" title="View my Mastodon profile">
            <span class="icon fa-fw fa-brands fa-mastodon"></span>
            <span class="label">Mastodon</span>
          </a>
        </li>
        <li>
          <a href="https://schnitmydadsays.com/" title="Check out some schnitzel reviews">
            <span class="icon fa-fw fa-solid fa-utensils"></span>
            <span class="label">SchnitMyDadSays</span>
          </a>
        </li>
      </ul>

      <ul class="listing">
        <li class="listing-header">
          <h2>Personal</h2>
        </li>
        <li>
          <a href="https://steamcommunity.com/id/brendanmurty" title="Join me in a game on Steam">
            <span class="icon fa-fw fa-brands fa-steam"></span>
            <span class="label">Steam</span>
          </a>
        </li>
        <li>
          <a href="https://discordapp.com/users/murty#2101" title="Chat with me on Discord">
            <span class="icon fa-fw fa-brands fa-discord"></span>
            <span class="label">Discord</span>
          </a>
        </li>
        <li>
          <a href="https://www.last.fm/user/brendanmurty" title="Review my favourite music">
            <span class="icon fa-fw fa-brands fa-lastfm-square"></span>
            <span class="label">Last.fm</span>
          </a>
        </li>
        <li>
          <a href="https://letterboxd.com/brendanmurty" title="Review my favourite movies">
            <span class="icon fa-fw fa-solid fa-film"></span>
            <span class="label">Letterboxd</span>
          </a>
        </li>
      </ul>

      <ul class="listing">
        <li class="listing-header">
          <h2>Work</h2>
        </li>
        <li>
          <a href="mailto:brendan@murty.au" title="Send me an email at brendan@murty.au">
            <span class="icon fa-fw fa-solid fa-envelope"></span>
            <span class="label">Email</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/brendanmurty" title="View my code repositories on GitHub">
            <span class="icon fa-fw fa-brands fa-github"></span>
            <span class="label">GitHub</span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/brendanmurty" title="View my LinkedIn profile">
            <span class="icon fa-fw fa-brands fa-linkedin"></span>
            <span class="label">LinkedIn</span>
          </a>
        </li>
      </ul>
    </article>
  </section>
</body>
{% include "brendan/footer.njk" %}
