{% include "brendan/header.njk" %}
<body class="brendan brendan_index">
  <section class="container">
    {% include "brendan/index-page.njk" %}
  </section>
</body>
{% include "brendan/footer.njk" %}
