{% include "brendan/header.njk" %}
<body class="brendan brendan_index">
  <section class="container">
    <header>
      {% include "brendan/heading.njk" %}
    </header>

    <article>
      <p class="intro">
        Father, Senior Software Engineer and Schnitzel Reviewer.
      </p>

      {% include "brendan/post-latest.njk" %}

      <ul class="listing">
        <li class="listing-header">
          <h2>Content</h2>
        </li>
        <li>
          <a href="/brendan/posts" title="View my posts">
            <img alt="" class="svg" src="/svg/box-archive-solid.svg">
            <span>Posts</span>
          </a>
        </li>
        <li>
          <a href="/brendan/tags" title="View a list of tags for my posts">
            <img alt="" class="svg" src="/svg/tags-solid.svg">
            <span>Tags</span>
          </a>
        </li>
        <li>
          <a href="https://glass.photo/brendanmurty" title="View my photos on Glass">
            <img alt="" class="svg" src="/svg/image-solid.svg">
            <span>Photos</span>
          </a>
        </li>
        <li>
          <a href="https://twitter.com/brendanmurty" title="View my Twitter profile">
            <img alt="" class="svg" src="/svg/twitter.svg">
            <span>Twitter</span>
          </a>
        </li>
        <li>
          <a href="https://schnitmydadsays.com/" title="Check out some schnitzel reviews">
            <img alt="" class="svg" src="/svg/utensils.svg">
            <span>SchnitMyDadSays</span>
          </a>
        </li>
      </ul>

      <ul class="listing">
        <li class="listing-header">
          <h2>Personal</h2>
        </li>
        <li>
          <a href="https://steamcommunity.com/id/brendanmurty" title="Join me in a game on Steam">
            <img alt="" class="svg" src="/svg/steam.svg">
            <span>Steam</span>
          </a>
        </li>
        <li>
          <a href="https://discordapp.com/users/murty#2101" title="Chat with me on Discord">
            <img alt="" class="svg" src="/svg/discord.svg">
            <span>Discord</span>
          </a>
        </li>
        <li>
          <a href="https://www.last.fm/user/brendanmurty" title="Review my favourite music">
            <img alt="" class="svg" src="/svg/lastfm-square-brands.svg">
            <span>Last.fm</span>
          </a>
        </li>
        <li>
          <a href="https://letterboxd.com/brendanmurty" title="Review my favourite movies">
            <img alt="" class="svg" src="/svg/film-solid.svg">
            <span>Letterboxd</span>
          </a>
        </li>
        <li>
          <a href="https://www.strava.com/athletes/83769199" title="View my exercise statistics">
            <img alt="" class="svg" src="/svg/bicycle-regular.svg">
            <span>Strava</span>
          </a>
        </li>
      </ul>

      <ul class="listing">
        <li class="listing-header">
          <h2>Work</h2>
        </li>
        <li>
          <a href="mailto:brendan@murty.au" title="Send me an email at brendan@murty.au">
            <img alt="" class="svg" src="/svg/envelope.svg">
            <span>Email</span>
          </a>
        </li>
        <li>
          <a href="https://github.com/brendanmurty" title="View my code repositories on GitHub">
            <img alt="" class="svg" src="/svg/github.svg">
            <span>GitHub</span>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/brendanmurty" title="View my LinkedIn profile">
            <img alt="" class="svg" src="/svg/linkedin.svg">
            <span>LinkedIn</span>
          </a>
        </li>
        <li>
          <a href="https://www.polywork.com/brendanmurty" title="View my Polywork profile">
            <img alt="" class="svg" src="/svg/user-tie-solid.svg">
            <span>Polywork</span>
          </a>
        </li>
      </ul>
    </article>
  </section>
</body>
{% include "brendan/footer.njk" %}
