{% include "brendan/header.njk" %}
<body class="brendan brendan_{{ title | lower }}">
  <section class="container">
    <header>
      {% include "brendan/heading.njk" %}
    </header>

    <article>
      {{ content | safe }}
    </article>
  </section>
</body>
{% include "brendan/footer.njk" %}
