{% if site.BLOG_POSTS_LATEST %}
<ul class="listing post-latest">
  <li class="listing-header">
    <h2>Latest Post</h2>
  </li>
  <li>
    <a href="{{ site.BLOG_POSTS_LATEST.url }}">
      <span class="icon fa-fw fa-solid fa-file-lines"></span>
      <span class="label">{{ site.BLOG_POSTS_LATEST.title }}</span>
    </a>
  </li>
</ul>
{% endif %}