{% include "brendan/header.njk" %}
<body class="brendan brendan_posts">
  <section class="container">
    <header>
      {% include "brendan/heading.njk" %}
    </header>

    <article>
      <h2>Posts</h2>
      {% include "brendan/posts-list.njk" %}
    </article>
  </section>
</body>
{% include "brendan/footer.njk" %}
