{% if site.BLOG_POSTS_LATEST %}
<ul class="listing post-latest">
  <li class="listing-header">
    <h2>Latest Post</h2>
  </li>
  <li>
    <a href="{{ site.BLOG_POSTS_LATEST.url }}">
      <img alt="" class="svg" src="/svg/file-pen-solid.svg">
      <span>{{ site.BLOG_POSTS_LATEST.title }}</span>
    </a>
  </li>
</ul>
{% endif %}