{% include "brendan/header.njk" %}
<body class="brendan brendan_post">
  <section class="container">
    <header>
      {% include "brendan/heading.njk" %}
    </header>

    <article>
      <h2><a href="/">Home</a> > <a href="/brendan/posts">Posts</a> > {{ title }}</h2>

      <p><em>{{ date | date('d LLL yyyy') }}</em></p>

      <ul class="tag-list">
        {% for tag in tags %}
        <li>
          <a class="tag-link" href="/brendan/tags/{{ tag }}" title="View posts tagged with {{ tag }}">
            <span class="icon fa-fw fa-solid fa-tag"></span>
            {{ tag }}
          </a>
        </li>
        {% endfor %}
      </ul>

      {{ content | safe }}

      {% if photo_file %}
      <ul class="photo-data">
        {% if photo_device %}<li>
          <span class="data-title">Device</span>
          <span class="data-value">
            <img class="data-icon icon-invert" src="/icons/camera.svg">
            {{ photo_device }}
          </span>
        </li>{% endif %}
        {% if photo_aperture %}<li>
          <span class="data-title">Aperture</span>
          <span class="data-value">
            <img class="data-icon icon-invert" src="/icons/aperture.svg">
            ƒ/{{ photo_aperture }}
          </span>
        </li>{% endif %}
        {% if photo_megapixel %}<li>
          <span class="data-title">Megapixels</span>
          <span class="data-value">
            <img class="data-icon icon-invert" src="/icons/target.svg">
            {{ photo_megapixel }}
          </span>
        </li>{% endif %}
        {% if photo_iso %}<li>
          <span class="data-title">ISO</span>
          <span class="data-value">
            <img class="data-icon icon-invert" src="/icons/info.svg">
            {{ photo_iso }}
          </span>
        </li>{% endif %}
        {% if photo_focallength %}<li>
          <span class="data-title">Focal Length</span>
          <span class="data-value">
            <img class="data-icon icon-invert" src="/icons/eye.svg">
            {{ photo_focallength }}mm
          </span>
        </li>{% endif %}
      </ul>
      {% endif %}
    </article>
  </section>
</body>
{% include "brendan/footer.njk" %}
