{% if site.BLOG_POSTS_LATEST %}
<aside class="post-latest">
  <h2>Latest Post</h2>
  <img alt="" class="svg" src="/svg/file-pen-solid.svg">
  <a href="{{ site.BLOG_POSTS_LATEST.url }}">{{ site.BLOG_POSTS_LATEST.title }}</a>
</aside>
{% endif %}