{% set posts = search.pages("type=post") %}
{% set tags = [] %}
{% for post in posts %}
{% if post.data.tags %}
{% for tag in post.data.tags %}
{% if tag not in tags %}
{% set tags = (tags.push(tag), tags) %}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
{% include "brendan/header.njk" %}
<body class="brendan brendan_tags">
  <section class="container">
    <header>
      {% include "brendan/heading.njk" %}
    </header>

    <article>
      <h2><a href="/">Home</a> > Tags</h2>
      <ul class="tag-list">
      {% for tag in tags|sort %}
        <li>
          <a class="tag-link" href="/brendan/tags/{{ tag }}" title="View posts tagged with {{ tag }}">
            <span class="icon fa-fw fa-solid fa-tag"></span>
            {{ tag }}
          </a>
        </li>
      {% endfor %}
      </ul>
    </article>
  </section>
</body>
{% include "brendan/footer.njk" %}
