<header>
  {% include "common/heading.njk" %}
</header>

<article>
  <p class="intro">
    Father, Schnitzel Reviewer at <a href="https://schnitmydadsays.com/">SchnitMyDadSays</a>, <a href="/tags/Career/">Engineering Manager and Technical Lead</a> based in <a href="https://maps.app.goo.gl/mhYJMKVGZJf7Lev77">Sydney</a>.
  </p>

  <ul class="listing full connect">
    <li>
      <a href="mailto:brendan@murty.au" title="Send me an email at brendan@murty.au">
        {{ comp.icon({ file: "envelope", type: "listing" }) | safe }}
        <span class="label">Email</span>
      </a>
    </li>
    <li>
      <a href="/Brendan%20Murty%20-%20Resume.pdf" title="Download my resume as a PDF">
        {{ comp.icon({ file: "briefcase", type: "listing" }) | safe }}
        <span class="label">Resume</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/brendanmurty" title="View my code repositories on GitHub">
        {{ comp.icon({ file: "github", type: "listing" }) | safe }}
        <span class="label">GitHub</span>
      </a>
    </li>
    <li>
      <a href="/gallery" title="View my photo posts">
        {{ comp.icon({ file: "images", type: "listing" }) | safe }}
        <span class="label">Gallery</span>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/brendanmurty" title="View my LinkedIn profile">
        {{ comp.icon({ file: "linkedin", type: "listing" }) | safe }}
        <span class="label">LinkedIn</span>
      </a>
    </li>
    <li>
      <a href="https://schnitmydadsays.com/" title="Check out some schnitzel reviews">
        {{ comp.icon({ file: "utensils", type: "listing" }) | safe }}
        <span class="label">SchnitMyDadSays</span>
      </a>
    </li>
    <li>
      <a href="https://steamcommunity.com/id/brendanmurty" title="Join me in a game on Steam">
        {{ comp.icon({ file: "steam", type: "listing" }) | safe }}
        <span class="label">Steam</span>
      </a>
    </li>
    <li>
      <a href="https://www.last.fm/user/brendanmurty" title="Review my favourite music">
        {{ comp.icon({ file: "lastfm", type: "listing" }) | safe }}
        <span class="label">Last.fm</span>
      </a>
    </li>
    <li>
      <a href="https://letterboxd.com/brendanmurty" title="Review my favourite movies">
        {{ comp.icon({ file: "film", type: "listing" }) | safe }}
        <span class="label">Letterboxd</span>
      </a>
    </li>
    <li>
      <a href="https://www.threads.net/@brendan.murty" title="View my Threads profile">
        {{ comp.icon({ file: "threads", type: "listing" }) | safe }}
        <span class="label">Threads</span>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/brendanmurty" title="View my Twitter profile">
        {{ comp.icon({ file: "twitter", type: "listing" }) | safe }}
        <span class="label">Twitter</span>
      </a>
    </li>
    <li>
      <a rel="me" href="https://mastodon.social/@murty" title="View my Mastodon profile">
        {{ comp.icon({ file: "mastodon", type: "listing" }) | safe }}
        <span class="label">Mastodon</span>
      </a>
    </li>
  </ul>

  <ul class="listing full posts">
    <li class="listing-header">
      <h2>Posts</h2>
    </li>
    {% include "posts/post-list-items.njk" %}
  </ul>
</article>