<!doctype html>
<html lang="en-AU">
<head>
<meta charset="utf-8">
<title>Brendan Murty</title>
{% include "common/meta.njk" %}
{% include "common/analytics.njk" %}
</head>
<body class="page_home">
  <section class="container">
    {% include "home.njk" %}
  </section>
</body>
</html>
