{% include "brendan/common/header.njk" %}
<body class="brendan brendan_gallery">
  <section class="container">
    <header>
      {% include "brendan/common/heading.njk" %}
    </header>

    <article>
      <h2><a href="/">Home</a> > Gallery</h2>
      {% include "brendan/photos/gallery-list.njk" %}
    </article>
  </section>
</body>
{% include "brendan/common/footer.njk" %}