<!doctype html>
<html lang="en-AU">
<head>
<meta charset="utf-8">
<title>{% if title %}Brendan Murty - {{ title }}{% else %}Brendan Murty{% endif %}</title>
{% include "../../meta.njk" %}
{% include "brendan/common/header-meta.njk" %}
{% include "../../analytics.njk" %}
</head>