<meta name="theme-color" content="#23c5b0">
<meta name="description" content="Brendan is a Senior Software Engineer, Father and Schnitzel Reviewer.">
<meta property="og:title" content="{% if title %}Brendan Murty - {{ title }}{% else %}Brendan Murty{% endif %}" />
<meta property="og:description" content="Brendan is a Senior Software Engineer, Father and Schnitzel Reviewer." />
{% if photo_thumb_url %}
<meta property="og:image" content="https://murty.au{{ photo_thumb_url }}" />
{% elif photo_url %}
<meta property="og:image" content="https://murty.au{{ photo_url }}" />
{% else %}
<meta property="og:image" content="https://murty.au/images/brendan/brendan-luca_750.jpg" />
{% endif %}
<link rel="me" href="https://mastodon.social/@murty">
<link rel="icon" sizes="192x192" href="/images/brendan/icon-192.png">
<link rel="alternate" title="Posts by Brendan Murty" type="application/json" href="https://murty.au/brendan/posts.json">