/* COMMON */

/* Variables */

/* Defaults, darker colour scheme */

:root {
  --highlight-colour: #23c5b0;
  --background-colour: #000000;
  --foreground-colour: #FFFFFF;
  --secondary-colour: #888888;
  --font-family-header: 'MDNichrome', serif;
  --font-family-body: 'MDSystem', serif;
}

body.freya {
  --highlight-colour: #981ceb;
}

body.isla {
  --highlight-colour: #14b3fb;
}

body.luca {
  --highlight-colour: #e94e0f;
}

/* Overrides for those who prefer lighter colour schemes */

@media (prefers-color-scheme: light) {
  :root {
    --highlight-colour: #0B6053;
    --background-colour: #FFFFFF;
    --foreground-colour: #000000;
    --secondary-colour: #888888;
  }
}

/* Fonts */

@font-face {
  font-family: 'MDNichrome';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('MDNichrome'), local('MDNichrome-Regular'), url('/fonts/MDNichrome-Regular.woff') format('woff');
}

@font-face {
  font-family: 'MDSystem';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('MDSystem'), local('MDSystem-Regular'), url('/fonts/MDSystem-Regular.woff') format('woff');
}

/* Icons */

.icon,
.icon svg {
  color: var(--foreground-colour) !important;
}

.icon svg {
  fill: currentColor;
}

.icon-listing {
  width: 30px;
  height: 30px;
  font-size: 30px;
  margin-right: 10px;
  float: left;
}

.icon-data {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  margin-right: 4px;
}

/* General */

html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  height: 100%;
  overflow-x: hidden;
}

body {
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  font-family: var(--font-family-body);
  padding: 0;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  min-width: 350px;
  background-color: var(--background-colour);
  color: var(--foreground-colour);
}

section.container {
  max-width: 925px;
  margin: 0 auto;
}

article,
header {
  width: 100%;
  padding: 25px 10px;
  margin: 0 auto;
  min-width: 350px;
  float: left;
  box-sizing: border-box;
}

header {
  padding-bottom: 0;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-family-header);
  font-weight: 500;
  letter-spacing: 1.25px;
  margin: 5px 0 15px;
  padding: 0;
  clear: both;
}

h1 {
  font-size: 30px;
  line-height: 50px;
  margin-top: 0;
}

h2 {
  font-size: 25px;
  line-height: 40px;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

article h1 {
  font-size: 28px;
  line-height: 42px;
}

p {
  margin: 0 0 20px;
  clear: both;
}

img {
  height: auto;
  overflow-x: hidden;
  max-width: 100%;
}

ol {
  list-style: decimal outside none;
  margin: 0 0 15px 30px;
}

ul {
  list-style: disc outside none;
  margin: 0 0 15px 30px;
}

li {
  margin: 0 0 6px;
}

a,
a:visited,
a:hover,
a:focus {
  color: var(--highlight-colour);
  text-decoration: underline;
  text-underline-offset: 3px;
}

a:hover,
a:focus {
  text-decoration: underline;
  text-underline-offset: 3px;
}

header h1 a,
header h1 a:visited,
header h1 a:hover,
header h1 a:focus {
  color: var(--foreground-colour);
  text-decoration: none;
}

pre,
blockquote {
  border: 1px solid var(--secondary-colour);
  border-radius: 10px;
  color: var(--secondary-colour);
  padding: 20px;
  margin: 20px 0;
  overflow-x: auto;
}

blockquote p:last-child {
  margin-bottom: 0;
}

/* Print styles */

@media print {
  html {
    height: auto;
    background: #fff !important;
    color: #000 !important;
  }

  body {
    background: transparent !important;
    color: #000 !important;
    padding: 20px;
  }

  header,
  article {
    width: 100%;
    padding: 0;
    margin: 0;
    min-width: 0;
  }

  header h1 a {
    color: #000 !important;
  }

  @page {
    size: auto;
    margin: 0mm 0mm 0mm 0mm;
  }
}