/* SCREEN - MEDIUM */

@media only screen and (max-width: 800px) {

  header h1 {
    line-height: 100px;
    font-size: 50px;
  }

  header .avatar {
    width: 100px;
    height: auto;
  }

  ul.listing,
  ul.listing.third,
  ul.listing.twothirds,
  ul.listing.half,
  ul.listing.full {
    width: 100%;
  }

  ul.listing.connect li {
    width: 50%;
    margin: 30px 0 0;
  }

  ul.page_posts_list .post-date,
  .page_post .post-date,
  ul.listing.posts .post-date,
  .photo-data .data-title {
    display: block;
    width: auto;
  }

  ul.page_gallery {
    margin: 20px 0;
    gap: 20px;
  }

  ul.page_gallery li {
    width: calc(50% - 40px);
  }

}