/* SCREEN - MEDIUM */

@media only screen and (max-width: 800px) {
  header h1 {
    line-height: 100px;
    font-size: 50px;
  }

  header .avatar {
    width: 100px;
    height: auto;
  }

  ul.listing,
  ul.listing.third,
  ul.listing.twothirds,
  ul.listing.half,
  ul.listing.full {
    width: 100%;
  }

  ul.listing.connect li {
    width: 50%;
    margin: 30px 0 0;
  }

  ul.posts-list .post-date,
  ul.listing.posts .post-date,
  .photo-data .data-title {
    display: block;
    width: auto;
  }

  .page-post .post-date,
  .page-post .tag-list {
    display: block;
    float: left;
    clear: both;
  }

  ul.page-gallery {
    margin: 20px 0;
    gap: 20px;
  }

  ul.page-gallery li {
    width: calc(50% - 40px);
  }
}
