/* SCREEN - SMALL */

@media only screen and (max-width: 600px) {
  body {
    --font-size-body: 18px;
    --line-height-body: 26px;
  }

  header .avatar {
    width: 100px;
    height: auto;
  }

  ul.listing.connect li,
  .page-home .tag-list li {
    width: 100%;
    margin: 30px 0 0;
  }

  .page-home .tag-list li:first-child {
    margin-top: 0;
  }

  .page-home .tag-list {
    margin-bottom: 30px;
  }

  ul.page-gallery {
    gap: 0;
  }

  ul.page-gallery li {
    width: 100%;
  }

  h1,
  h2,
  h3,
  h4,
  header h1 {
    font-size: 22px;
  }
}
