<!doctype html>
<html lang="en-AU">
<head>
  <meta charset="utf-8">

  <title>Isla Murty</title>

  <meta name="author" content="Isla Murty">
  <meta name="description" content="Loves salt and vinegar chips and plain crackers with Philadelphia">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="480">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#14b3fb">

  <link rel="preload" href="/fonts/MDNichrome-Regular.woff" as="font" crossorigin="anonymous">
  <link rel="preload" href="/fonts/MDSystem-Regular.woff" as="font" crossorigin="anonymous">

  <link rel="icon" sizes="192x192" href="/images/isla/icon-192.png">
  <link rel="stylesheet" href="/css/styles.min.css">

  {% include "../analytics.njk" %}
</head>
<body class="isla isla_index">
  <section class="container">
    <header>
      <h1>
        <a href="/isla">Isla Murty</a>
      </h1>
    </header>

    <article>
      {{ content | safe }}
    </article>
  </section>
</body>
</html>
