---
layout: layouts/page.njk
body_class: page-home
---

{% import "components/github.njk" as github %}
{% import "components/post-card.njk" as card %}
{% import "components/social.njk" as social %}

<div class="intro">
  <p>
    I specialise in actively leading software teams to build scalable, well-defined technical solutions.
  </p>
</div>

<div class="social-links-container">
  {{ social.links() }}
</div>

<div class="section-head">
  <h2>GitHub</h2>
  <a href="https://github.com/bcm-works" title="View my profile on GitHub">View profile</a>
</div>

{{ github.info('bcm-works', SITE_BUILD_ID) }}

<div class="section-head">
  <h2>Recent Posts</h2>
  <a href="/posts/" title="Show a list of all posts">View all posts</a>
</div>

<ul class="posts-list">
  {% set posts = search.pages("type=post", "date=desc") %}
  {% for post in posts.slice(0, 6) %}
  {% if post.url != '/posts/' %}
  {{ card.card(post) }}
  {% endif %}
  {% endfor %}
</ul>
