---
title: Post
layout: layouts/page.njk
body_class: page-post
---

{% import "components/post.njk" as post %}
{% import "components/link.njk" as link %}
<h2>{{ link.post(title, url) }}</h2>

{{ post.info(date, readingInfo.words) }}

<ul class="tag-list print-hidden">
  {% for tag in tags|sort %}
    {% if tag != "Post" %}
      <li>
        {{ link.tag(tag) }}
      </li>
    {% endif %}
  {% endfor %}
</ul>

<div class="post-content">
  {{ content | safe }}
</div>
