---
title: Posts
layout: layouts/page.njk
body_class: page-posts-list
---

<h2>Posts</h2>

{% import "components/post.njk" as post %}
<ul class="posts-list">
  {% set posts = search.pages("type=post", "date=desc") %}
  {% for p in posts %}
  {% if p.url != '/posts/' %}
  {{ post.item(p) }}
  {% endif %}
  {% endfor %}
</ul>
