---
title: Tag
layout: layouts/page.njk
body_class: page-tag
---

{% import "components/post.njk" as post %}
{% set tag = url | replace("/tags/", "") | replace("/", "") %}
{% set posts = search.pages(tag + " type=post", "date=desc") %}

<h2>Posts tagged with {{ tag }}</h2>

<ul class="posts-list">
  {% for p in posts %}
  {% if p.url != '/posts/' %}
  {{ post.item(p) }}
  {% endif %}
  {% endfor %}
</ul>
