---
title: Tags
layout: layouts/page.njk
body_class: page-tags-list
---

<h2>Post tags</h2>

{% import "components/link.njk" as link %}
<ul class="tag-list">
  {% set posts = search.pages("type=post") %}
  {% set tags = [] %}
  {% for post in posts %}
    {% if post.tags %}
      {% for tag in post.tags %}
        {% if tag not in tags %}
          {% set tags = (tags.push(tag), tags) %}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}

  {% for tag in tags|sort %}
    {% if tag != "Post" %}
      <li>
        {{ link.tag(tag) }}
      </li>
    {% endif %}
  {% endfor %}
</ul>
