{% include "common/header.njk" %}
<body class="page-posts-list">
  <section class="container">
    <header>
      {% include "common/heading.njk" %}
    </header>

    <article>
      <h2>Posts</h2>

      <ul class="page-posts-list">
        {% include "posts/post-list.njk" %}
      </ul>
    </article>
  </section>
</body>
</html>
