{% include "common/header.njk" %}
<body class="page-post">
  <section class="container">
    <header>
      {% include "common/heading.njk" %}
    </header>

    <article>
      <h2><a href="/">Home</a><span class="icon icon-breadcrumb fa-fw fa-solid fa-caret-right"></span><a href="/posts">Posts</a><span class="icon icon-breadcrumb fa-fw fa-solid fa-caret-right"></span>{{ title }}</h2>

      <p class="post-date">
        <span class="icon-post icon fa-fw fa-solid fa-calendar-days"></span>{{ date | date('d LLL yyyy') }}
      </p>

      <ul class="tag-list">
        {% for tag in tags %}
        <li>
          <a href="/tags/{{ tag }}" title="View posts tagged with {{ tag }}">
            <span class="icon icon-tag fa-fw fa-solid fa-tag"></span>{{ tag }}
          </a>
        </li>
        {% endfor %}
      </ul>

      {{ content | safe }}

      {% include "photos/photo-data.njk" %}
    </article>
  </section>
</body>
</html>
