{% set tag = url | replace("/tags/", "") | replace("/", "") %}
{% set posts = search.pages(tag + " type=post", "date=desc") %}
{% include "common/header.njk" %}
<body class="page-tag">
  <section class="container">
    <header>
      {% include "common/heading.njk" %}
    </header>

    <article>
      <h2><a href="/">Home</a><span class="icon icon-breadcrumb fa-fw fa-solid fa-caret-right"></span><a href="/tags">Tags</a><span class="icon icon-breadcrumb fa-fw fa-solid fa-caret-right"></span>{{ tag }}</h2>
      <ul class="page-posts-list">
      {% for post in posts %}
      {% if post.url != '/posts/' %}
        <li>
          <span class="post-date">
            {{ post.date | date('d LLL yyyy') }}
          </span>
          <a class="post-link" href="{{ post.url }}">
            {% if post.title %}
            {{ post.title }}
            {% else %}
            {{ post.url }}
            {% endif %}
          </a>
        </li>
      {% endif %}
      {% endfor %}
      </ul>
    </article>
  </section>
</body>
</html>
