---
title: Tag
layout: layouts/page.layout.njk
body_class: page-tag
---

{% set tag = url | replace("/tags/", "") | replace("/", "") %}
{% set posts = search.pages(tag + " type=post", "date=desc") %}

<h2>
  <a class="breadcrumb-previous" href="/tags/">Tags</a>
  <span class="icon icon-breadcrumb fa-fw fa-solid fa-caret-right"></span>
  <span class="breadcrumb-current">{{ tag }}</span>
</h2>

<ul class="posts-list">
{% for post in posts %}
{% if post.url != '/posts/' %}
  <li>
    <span class="post-date">
      {{ post.date | date('d LLL yyyy') }}
    </span>
    <a class="post-link" href="{{ post.url }}">
      {% if post.title %}
      {{ post.title }}
      {% else %}
      {{ post.url }}
      {% endif %}
    </a>
  </li>
{% endif %}
{% endfor %}
</ul>
