{% include "common/header.njk" %}
<body class="page_tags_list">
  <section class="container">
    <header>
      {% include "common/heading.njk" %}
    </header>

    <article>
      <h2><a href="/">Home</a><span class="icon icon-breadcrumb fa-fw fa-solid fa-caret-right"></span>Tags</h2>
      {% include "posts/tag-list.njk" %}
    </article>
  </section>
</body>
</html>
