{% include "common/header.njk" %}
<body class="page-tags_list">
  <section class="container">
    <header>
      {% include "common/heading.njk" %}
    </header>

    <article>
      <h2>Tags</h2>

      {% include "posts/tag-list.njk" %}
    </article>
  </section>
</body>
</html>
