/* COMMON */

/* Variables */

/* Defaults and for those who prefer darker colour schemes */

body {
  --highlight-colour: #23c5b0;
  --background-colour: #000000;
  --foreground-colour: #FFFFFF;
  --secondary-colour: #888888;
}

body.freya {
  --highlight-colour: #981ceb;
}

body.isla {
  --highlight-colour: #14b3fb;
}

body.luca {
  --highlight-colour: #e94e0f;
}

/* Overrides for those who prefer lighter colour schemes */

@media (prefers-color-scheme: light) {
  body {
    --background-colour: #FFFFFF;
    --foreground-colour: #000000;
    --secondary-colour: #888888;
  }
}

/* Reset */

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Fonts */

@font-face {
  font-family: 'MDNichrome';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('MDNichrome'), local('MDNichrome-Regular'), url('/fonts/MDNichrome-Regular.woff') format('woff');
}

@font-face {
  font-family: 'MDSystem';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('MDSystem'), local('MDSystem-Regular'), url('/fonts/MDSystem-Regular.woff') format('woff');
}

/* Icons */

.icon {
  color: var(--foreground-colour) !important;
}

.icon-invert {
  filter: invert(1);
}

/* General */

html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  height: 100%;
  overflow-x: hidden;
}

body {
  font: normal 400 20px/32px 'MDSystem', serif;
  padding: 0;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  min-width: 350px;
  background-color: var(--background-colour);
  color: var(--foreground-colour);
}

section.container {
  max-width: 925px;
  margin: 0 auto;
}

article,
header {
  width: 100%;
  padding: 25px 10px;
  margin: 0 auto;
  min-width: 350px;
  float: left;
  box-sizing: border-box;
}

header {
  padding-bottom: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'MDNichrome', serif;
  font-weight: 500;
  letter-spacing: 1.25px;
  margin: 5px 0 15px;
  padding: 0;
  clear: both;
}

h1 {
  font-size: 30px;
  line-height: 50px;
  margin-top: 0;
}

h2 {
  font-size: 25px;
  line-height: 40px;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

article h1 {
  font-size: 28px;
  line-height: 42px;
}

p {
  margin: 0 0 20px;
  clear: both;
}

img {
  height: auto;
  overflow-x: hidden;
  max-width: 100%;
}

ol {
  list-style: decimal outside none;
  margin: 0 0 15px 30px;
}

ul {
  list-style: disc outside none;
  margin: 0 0 15px 30px;
}

li {
  margin: 0 0 6px;
}

a,
a:visited,
a:hover,
a:focus {
  color: var(--highlight-colour);
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

header h1 a,
header h1 a:visited,
header h1 a:hover,
header h1 a:focus {
  color: var(--foreground-colour);
}

pre {
  border: 1px solid var(--secondary-colour);
  padding: 20px;
  overflow-x: scroll;
}

/* Reset - Print styles */

@media print {
  html {
    height: auto;
    background: #fff !important;
    color: #000 !important;
  }

  body {
    background: transparent !important;
    color: #000 !important;
    padding: 20px;
  }

  header,
  article {
    width: 100%;
    padding: 0;
    margin: 0;
    min-width: 0;
  }

  header h1 a {
    color: #000 !important;
  }

  @page {
    size: auto;
    margin: 0mm 0mm 0mm 0mm;
  }
}

/* Common styles */

.murty ul.sites {
  list-style: none;
  margin: 0;
  padding: 0;
}

.murty ul.sites>li {
  margin: 30px 0 0;
  padding: 30px 0 0;
  text-align: left;
  float: left;
  clear: both;
  width: 100%;
}

.murty ul.sites>li.first {
  margin-top: 0;
  padding-top: 0;
}

.murty ul.sites>li header,
.murty ul.sites>li article {
  width: 100%;
  padding: 0;
}

.murty ul.sites .list-avatar {
  height: auto;
  width: 150px;
  border-radius: 150px;
  margin-right: 30px;
  float: left;
}

.murty ul.sites .list-name {
  display: inline-block;
  line-height: 150px;
  margin: 0;
}

/* Small sized screens */

@media only screen and (max-width: 900px) {
  .murty ul.sites .list-avatar {
    width: 100px;
    border-radius: 100px;
  }

  .murty ul.sites .list-name {
    line-height: 100px;
  }
}/* BRENDAN */

.brendan header {
  padding: 25px 10px;
}

.brendan article {
  padding: 0 10px 25px;
}

.brendan header h1 {
  float: left;
  line-height: 150px;
  font-size: 65px;
  margin: 0;
}

.brendan header .avatar {
  float: left;
  margin-right: 30px;
  border-radius: 150px;
}

.brendan .intro {
  margin: 25px 0 0;
}

article>h2 {
  margin: 0 0 15px;
}

.brendan .icon-threads {
  padding-left: 5px;
}

ul.brendan_posts {
  list-style: none;
  margin-left: 0;
}

ul.brendan_posts li,
.brendan .photo-data li {
  margin-bottom: 20px;
}

ul.brendan_posts .post-date,
.brendan_post .post-date,
.brendan ul.listing.posts .post-date,
.brendan .photo-data .data-title {
  width: 125px;
  color: var(--secondary-colour);
  display: inline-block;
}

.brendan_post .post-date {
  float: left;
  clear: both;
  width: 100%;
}

.brendan_post article img:not(.data-icon) {
  clear: both;
  display: block;
}

.brendan_post .data-icon {
  vertical-align: middle;
  margin-right: 4px;
}

.brendan .tag-list {
  margin: 0 0 20px;
  float: left;
}

.brendan_tags .tag-list {
  float: none;
}

.brendan .tag-list li {
  float: left;
  list-style: none outside none;
  margin: 0 25px 0 0;
}

.brendan_tags .tag-list li {
  float: none;
  margin: 0 0 20px;
}

.brendan .tag-link .icon {
  width: 15px;
  margin-right: 8px;
}

.brendan ul.listing {
  list-style: none;
  margin: 35px 0 0;
  float: left;
}

.brendan ul.listing li {
  float: left;
}

.brendan ul.listing,
.brendan ul.listing li,
.brendan ul.listing li>a {
  box-sizing: border-box;
}

.brendan ul.listing.twothirds {
  width: 66.6%;
}

.brendan ul.listing.third {
  width: 33.3%;
}

.brendan ul.listing.half {
  width: 50%;
}

.brendan ul.listing.full {
  width: 100%;
}

.brendan ul.listing li:not(.listing-header) {
  margin: 0 0 25px;
  line-height: 30px;
  float: left;
  width: 100%;
}

.brendan ul.listing li:not(.listing-header) a {
  width: 100%;
  float: left;
}

.brendan ul.listing.connect {
  margin-top: 10px;
}

.brendan ul.listing.connect li {
  width: 33.3%;
  margin: 25px 0 0;
}

.brendan ul.listing .icon {
  height: 30px;
  font-size: 30px;
  margin-right: 10px;
  float: left;
}

.brendan ul.listing:not(.connect) .label {
  float: left;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Photo posts and Gallery list views */

.brendan .photo-data {
  list-style: none outside none;
  margin: 20px 0;
}

ul.brendan_gallery {
  list-style: none outside none;
  margin: 40px 0;
  display: flex;
  flex-flow: row wrap;
  gap: 40px;
}

ul.brendan_gallery li {
  margin: 0;
  padding: 0;
  display: inline-block;
  align-self: flex-end;
  width: calc(33% - 80px);
  max-width: 500px;
  min-width: 270px;
}

ul.brendan_gallery img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

ul.brendan_gallery a {
  display: inline-grid;
}

ul.brendan_gallery a:hover,
ul.brendan_gallery a:active {
  opacity: 0.5;
}

/* Medium sized screens */

@media only screen and (max-width: 750px) {

  .brendan header {
    height: 145px;
  }

  .brendan_index header,
  .murty_index header {
    height: 100px;
  }

  .brendan header h1 {
    line-height: 100px;
    font-size: 50px;
  }

  .brendan header .avatar {
    width: 100px;
    height: auto;
  }

  .brendan ul.listing.posts {
    display: none;
  }

  .brendan ul.listing,
  .brendan ul.listing.third,
  .brendan ul.listing.twothirds,
  .brendan ul.listing.half,
  .brendan ul.listing.full {
    width: 100%;
  }

  .brendan ul.listing.connect li {
    width: 50%;
    margin: 30px 0 0;
  }

  ul.brendan_posts .post-date,
  .brendan ul.listing.posts .post-date,
  .brendan .photo-data .data-title {
    display: block;
    width: auto;
  }

  ul.brendan_gallery {
    margin: 20px 0;
    gap: 20px;
  }

  ul.brendan_gallery li {
    width: calc(50% - 40px);
  }

}

/* Small sized screens */

@media only screen and (max-width: 550px) {

  .brendan header h1 {
    font-size: 25px;
  }

  .brendan header .avatar {
    width: 100px;
    height: auto;
  }

  .brendan ul.listing.connect li {
    width: 100%;
    margin: 30px 0 0;
  }

  ul.brendan_gallery {
    gap: 0;
  }

  ul.brendan_gallery li {
    width: 100%;
  }

}

/* Print styles */

@media print {
  .brendan header {
    height: auto;
    border: 0 none;
  }
}/* ISLA */

.isla {
  text-align: center;
}

.isla .avatar-image {
  margin-bottom: 40px;
  border-radius: 150px;
}/* FREYA */

.freya {
  text-align: center;
}

.freya .avatar-image {
  margin-bottom: 40px;
  border-radius: 150px;
}/* LUCA */

.luca {
  text-align: center;
}

.luca .avatar-image {
  margin-bottom: 40px;
  border-radius: 150px;
}