<!doctype html>
<html lang="en-AU">
<head>
  <meta charset="utf-8">

  <title>Luca Murty</title>

  <meta name="author" content="Luca Murty">
  <meta name="description" content="The latest addition to the family.">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="480">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#e94e0f">

  <link rel=“preload” href=“/fonts/MDNichrome-Regular.woff” as=“font” crossorigin=“anonymous”>
  <link rel=“preload” href=“/fonts/MDSystem-Regular.woff” as=“font” crossorigin=“anonymous”>

  <link rel="icon" sizes="192x192" href="/images/common/murty-192.png">
  <link rel="stylesheet" href="/css/styles.min.css">

  {% include "../analytics.njk" %}
</head>
<body class="luca luca_index">
  <section id="container">
    <header>
      <h1>
        <a href="/luca">Luca Murty</a>
      </h1>
    </header>

    <article>
      {{ content | safe }}
    </article>
  </section>
</body>
</html>
