<meta name="author" content="Brendan Murty">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="480">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta property="og:locale" content="en_GB" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://murty.au{{ url }}" />
<link rel="canonical" href="https://murty.au{{ url }}" />
<link rel="stylesheet" href="/css/fontawesome/css/all.min.css">
<link rel="stylesheet" href="/css/styles.css">