{% if site.FATHOM_ANALYTICS_SITE_CODE %}
  <link rel="preconnect" href="https://cdn.usefathom.com/">
  <script src="https://cdn.usefathom.com/script.js" data-site="{{ site.FATHOM_ANALYTICS_SITE_CODE }}" defer></script>
{% endif %}