{% if site.PIRSCH_ANALYTICS_SITE_CODE %}
<!-- Pirsch analytics -->
<script defer type="text/javascript" src="https://api.pirsch.io/pirsch.js" id="pirschjs" data-code="{{ PIRSCH_ANALYTICS_SITE_CODE }}"></script>
{% endif %}