{% if site.PIRSCH_ANALYTICS_SITE_CODE %}
<script defer type="text/javascript" src="https://api.pirsch.io/pirsch.js" id="pirschjs" data-code="{{ site.PIRSCH_ANALYTICS_SITE_CODE }}"></script>
{% endif %}