<header>
  {% include "common/heading.njk" %}
</header>

<article>
  <p class="intro">
    Father, Schnitzel Reviewer at <a href="https://schnitmydadsays.com/">SchnitMyDadSays</a> and Lead Software Engineer at <a href="https://liquidise.com/">Liquidise</a>.
  </p>

  <ul class="listing full connect">
    <li>
      <a href="mailto:brendan@murty.au" title="Send me an email at brendan@murty.au">
        <span class="icon fa-fw fa-solid fa-envelope"></span>
        <span class="label">Email</span>
      </a>
    </li>
    <li>
      <a href="/brendan/Resume - Brendan Murty.pdf" title="Download my resume as a PDF">
        <span class="icon fa-fw fa-solid fa-briefcase"></span>
        <span class="label">Resume</span>
      </a>
    </li>
    <li>
      <a href="https://github.com/brendanmurty" title="View my code repositories on GitHub">
        <span class="icon fa-fw fa-brands fa-github"></span>
        <span class="label">GitHub</span>
      </a>
    </li>
    <li>
      <a href="/gallery" title="View my photo posts">
        <span class="icon fa-fw fa-solid fa-images"></span>
        <span class="label">Gallery</span>
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/brendanmurty" title="View my LinkedIn profile">
        <span class="icon fa-fw fa-brands fa-linkedin"></span>
        <span class="label">LinkedIn</span>
      </a>
    </li>
    <li>
      <a href="https://schnitmydadsays.com/" title="Check out some schnitzel reviews">
        <span class="icon fa-fw fa-solid fa-utensils"></span>
        <span class="label">SchnitMyDadSays</span>
      </a>
    </li>
    <li>
      <a href="https://steamcommunity.com/id/brendanmurty" title="Join me in a game on Steam">
        <span class="icon fa-fw fa-brands fa-steam"></span>
        <span class="label">Steam</span>
      </a>
    </li>
    <li>
      <a href="https://www.last.fm/user/brendanmurty" title="Review my favourite music">
        <span class="icon fa-fw fa-brands fa-lastfm-square"></span>
        <span class="label">Last.fm</span>
      </a>
    </li>
    <li>
      <a href="https://letterboxd.com/brendanmurty" title="Review my favourite movies">
        <span class="icon fa-fw fa-solid fa-film"></span>
        <span class="label">Letterboxd</span>
      </a>
    </li>
    <li>
      <a href="https://www.threads.net/@brendan.murty" title="View my Threads profile">
        <span class="icon fa-fw fa-brands fa-threads"></span>
        <span class="label">Threads</span>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/brendanmurty" title="View my Twitter profile">
        <span class="icon fa-fw fa-brands fa-twitter"></span>
        <span class="label">Twitter</span>
      </a>
    </li>
    <li>
      <a rel="me" href="https://mastodon.social/@murty" title="View my Mastodon profile">
        <span class="icon fa-fw fa-brands fa-mastodon"></span>
        <span class="label">Mastodon</span>
      </a>
    </li>
  </ul>

  <ul class="listing full posts">
    <li class="listing-header">
      <h2>Posts</h2>
    </li>
    {% include "posts/posts-list.njk" %}
  </ul>
</article>