<!doctype html>
<html lang="en-AU">
<head>
<meta charset="utf-8">
<title>Brendan Murty</title>
<meta name="description" content="Brendan is a Lead Software Engineer, Father and Schnitzel Reviewer.">
{% include "common/meta.njk" %}
{% include "common/meta-brendan.njk" %}
{% include "common/analytics.njk" %}
</head>
<body class="murty murty_index">
  <section class="container brendan brendan_index">
    {% include "brendan.njk" %}
  </section>
</body>
</html>
