<!doctype html>
<html lang="en-AU">
<head>
<meta charset="utf-8">
<title>Brendan Murty</title>
<meta name="description" content="Brendan is a Senior Software Engineer, Father and Schnitzel Reviewer.">
{% include "meta.njk" %}
{% include "brendan/common/header-meta.njk" %}
{% include "analytics.njk" %}
</head>
<body class="murty murty_index">
  <section class="container listing avatars">
    <article>
      <ul class="sites">
        <li class="first brendan brendan_index">
          {% include "brendan/pages/index.njk" %}
        </li>
        <li class="ella">
          <a href="https://ellacondon.com/">
            <img class="list-avatar" height="150" width="150" src="/images/ella/ella_condon.jpg" alt="EJC" title="Visit Ella Condon's website">
            <h2 class="list-name">Ella Condon</h2>
          </a>
        </li>
        <li class="isla">
          <a href="/isla">
            <img class="list-avatar" height="150" width="150" src="/images/isla/isla-murty_2023.jpg" alt="IJM" title="Visit Isla Murty's website">
            <h2 class="list-name">Isla Murty</h2>
          </a>
        </li>
        <li class="freya">
          <a href="/freya">
            <img class="list-avatar" height="150" width="150" src="/images/freya/freya-murty_2023.jpg" alt="FJM" title="Visit Freya Murty's website">
            <h2 class="list-name">Freya Murty</h2>
          </a>
        </li>
        <li class="luca">
          <a href="/luca">
            <img class="list-avatar" height="150" width="150" src="/images/luca/luca-murty_2023.jpg" alt="LJM" title="Visit Luca Murty's website">
            <h2 class="list-name" >Luca Murty</h2>
          </a>
        </li>
      </ul>
    </article>
  </section>
</body>
</html>
