<!doctype html>
<html lang="en-AU">
<head>
<meta charset="utf-8">
<title>Isla Murty</title>
<meta name="description" content="Loves salt and vinegar chips and plain crackers with Philadelphia">
<meta name="theme-color" content="#14b3fb">
<link rel="icon" sizes="192x192" href="/images/isla/icon-192.png">
{% include "meta.njk" %}
{% include "analytics.njk" %}
</head>
<body class="isla isla_index">
  <section class="container">
    <header>
      <h1>
        <a href="/isla">Isla Murty</a>
      </h1>
    </header>

    <article>
      {{ content | safe }}
    </article>
  </section>
</body>
</html>
