<!doctype html>
<html lang="en-AU">
<head>
<meta charset="utf-8">
<title>Murty</title>
<meta name="author" content="Brendan Murty">
<meta name="description" content="Murty websites">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="480">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="theme-color" content="#23c5b0">
<link rel="canonical" href="https://murty.au/" />
<link rel="preload" href="/fonts/MDNichrome-Regular.woff" as="font" crossorigin="anonymous">
<link rel="preload" href="/fonts/MDSystem-Regular.woff" as="font" crossorigin="anonymous">
<link rel="icon" sizes="192x192" href="/images/common/murty-192.png">
<link rel="stylesheet" href="/css/styles.min.css">
{% include "analytics.njk" %}
</head>
<body class="murty murty_index">
  <section class="container listing avatars">
    <header>
      <h1>
        <a href="/">Murty</a>
      </h1>
    </header>

    <article>
      {{ content | safe }}
    </article>
  </section>
</body>
</html>
