/* BASE LAYOUT, HELPERS, LIST DEFAULTS */

html {
  font-size: var(--base-font-size);
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

body {
  padding: 0;
  line-height: var(--base-line-height);
  font-family: var(--font-family-body);
  min-height: var(--base-min-height);
  min-width: var(--base-min-width);
  background-color: var(--colour-background);
  color: var(--colour-foreground);
  scrollbar-color: var(--base-scrollbar-colour);
  scrollbar-width: var(--base-scrollbar-width);
}

/* HELPERS */

.content-body .print-header,
.hidden,
.page-hidden {
  display: none !important;
  height: 0 !important;
}

.height-auto {
  min-height: auto !important;
  height: auto !important;
}

/* DEFAULTS */

p {
  margin: 0 0 20px;
  clear: both;
}

img {
  height: auto;
  overflow-x: hidden;
  max-width: 100%;
}

ul {
  list-style: disc inside none;
  margin: 0 0 12px;
}

ol {
  list-style: decimal inside none;
  margin: 0 0 12px;
}

li {
  margin: 0 0 6px;
}
