/* BASE LAYOUT, HELPERS, LIST DEFAULTS */

html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-overflow-scrolling: touch;
}

body {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--font-family-body);
  min-height: 100vh;
  min-width: 400px;
  padding: 0;
  background-color: var(--colour-background);
  color: var(--colour-foreground);
  scrollbar-color: var(--colour-gray) var(--colour-black);
  scrollbar-width: thin;
}

/* HELPERS */

.content-body .print-header,
.hidden,
.page-hidden {
  display: none !important;
  height: 0 !important;
}

.height-auto {
  min-height: auto !important;
  height: auto !important;
}

/* DEFAULTS */

p {
  margin: 0 0 20px;
  clear: both;
}

img {
  height: auto;
  overflow-x: hidden;
  max-width: 100%;
}

ul {
  list-style: disc inside none;
  margin: 0 0 12px;
}

ol {
  list-style: decimal inside none;
  margin: 0 0 12px;
}

li {
  margin: 0 0 6px;
}
