/* HEADER */

header .site-link {
  color: var(--colour-foreground);
  text-decoration: none;
}

.site-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.site-name {
  color: var(--colour-foreground);
  margin: 0;
}

header nav a,
header nav a:visited {
  color: var(--colour-muted);
  text-decoration: var(--link-decoration-nav);
}

header nav a:hover,
header nav a:focus {
  color: var(--colour-foreground);
  text-decoration: var(--link-decoration-active);
  text-underline-offset: var(--link-decoration-underline-offset);
}

header nav li.active a {
  color: var(--colour-foreground);
  font-weight: 600;
}

.intro {
  margin: 8px 0 16px;
}

/* POSTS */

ul.posts-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.posts-list > li {
  margin: 0;
  padding: 16px 0;
}

ul.post-info {
  display: flex;
  align-items: center;
  gap: 4px 12px;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.post-info li {
  margin: 0;
}

ul.post-info li:first-child {
  margin-right: auto;
}

.post-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.post-item-link {
  display: block;
}

.post-details {
  margin: 0;
}

.posts-view-all {
  margin: 16px 0 0;
}

ul.posts-list > li:first-child {
  border-top: none;
}

.post-item-link {
  color: var(--colour-foreground);
  text-decoration: none;
}

.post-item-link:hover,
.post-item-link:focus {
  text-decoration: none;
}

.post-item-title {
  color: var(--colour-foreground);
  display: block;
  clear: both;
}

.post-item-link:hover .post-item-title,
.post-item-link:focus .post-item-title {
  color: var(--colour-highlight);
  text-decoration: var(--link-decoration-active);
  text-underline-offset: var(--link-decoration-underline-offset);
}

.post-item-summary {
  color: var(--colour-muted);
  display: block;
  clear: both;
  margin: 12px 0;
}

.page-post .link-post,
.page-post .link-post:visited {
  color: var(--colour-foreground);
  text-decoration: none;
}

.page-post .link-post:hover,
.page-post .link-post:focus {
  color: var(--colour-highlight);
  text-decoration: var(--link-decoration-default);
  text-underline-offset: var(--link-decoration-underline-offset);
}
