/* LINKS */

a,
a:visited {
  color: var(--colour-highlight);
  text-decoration: var(--link-decoration-default);
  text-underline-offset: var(--link-decoration-underline-offset);
}

a:hover,
a:focus {
  color: var(--colour-highlight);
  text-decoration: var(--link-decoration-active);
  text-underline-offset: var(--link-decoration-underline-offset);
}

/* ICONS */

.icon {
  color: var(--colour-muted);
}

.social-links-container .icon,
#github-info .github-user .icon {
  color: var(--colour-highlight);
}

.post-info .icon {
  color: var(--colour-muted);
}

/* HEADER */

header .site-link {
  color: var(--colour-foreground);
  text-decoration: none;
}

.site-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.site-name {
  color: var(--colour-foreground);
  margin: 0;
}

header nav a,
header nav a:visited {
  color: var(--colour-muted);
  text-decoration: var(--link-decoration-nav);
}

header nav a:hover,
header nav a:focus {
  color: var(--colour-foreground);
  text-decoration: var(--link-decoration-active);
  text-underline-offset: var(--link-decoration-underline-offset);
}

header nav li.active a {
  color: var(--colour-foreground);
  font-weight: 600;
}

/* POSTS */

ul.posts-list > li:first-child {
  border-top: none;
}

.post-item-link {
  color: var(--colour-foreground);
  text-decoration: none;
}

.post-item-link:hover,
.post-item-link:focus {
  text-decoration: none;
}

.post-item-title {
  color: var(--colour-foreground);
  display: block;
  clear: both;
}

.post-item-link:hover .post-item-title,
.post-item-link:focus .post-item-title {
  color: var(--colour-highlight);
  text-decoration: var(--link-decoration-active);
  text-underline-offset: var(--link-decoration-underline-offset);
}

.post-item-summary {
  color: var(--colour-muted);
  display: block;
  clear: both;
  margin: 12px 0;
}

.page-post .link-post,
.page-post .link-post:visited {
  color: var(--colour-foreground);
  text-decoration: none;
}

.page-post .link-post:hover,
.page-post .link-post:focus {
  color: var(--colour-highlight);
  text-decoration: var(--link-decoration-default);
  text-underline-offset: var(--link-decoration-underline-offset);
}
