/* GITHUB INFO */

#github-info {
  float: left;
  padding: 0;
  margin: 0 0 32px;
  width: 100%;
  box-sizing: border-box;
  min-height: 150px;
  height: 150px;
}

#github-info ul {
  padding: 0;
  margin: 0;
  list-style: none;
  float: left;
  width: 100%;
}

#github-info li {
  float: left;
  width: 50%;
  min-height: 48px;
  line-height: 48px;
  vertical-align: middle;
  padding: 0;
  margin: 0;
}

#github-info .icon {
  float: left;
  line-height: 48px;
  margin-right: 8px;
}

#github-info .github-status .value {
  margin-left: 32px;
  height: auto;
  display: block;
}

#github-info a {
  text-decoration: var(--link-decoration-nav);
  text-underline-offset: var(--link-decoration-underline-offset);
}

#github-info a:active,
#github-info a:hover {
  text-decoration: var(--link-decoration-active);
  text-underline-offset: var(--link-decoration-underline-offset);
}
