/* SOCIAL LINKS */

.social-links-container {
  padding: 0;
  margin: 32px 0;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social-links li {
  flex: 0 0 calc((100% - (16px * 2)) / 3);
  box-sizing: border-box;
  margin: 0;
}

.social-links-container .social-links a {
  text-decoration: none;
}

.social-links-container .social-links a .label {
  font-size: 18px;
  text-decoration: var(--link-decoration-nav);
  text-underline-offset: var(--link-decoration-underline-offset);
}

.social-links-container .social-links a:active .label,
.social-links-container .social-links a:hover .label {
  text-decoration: var(--link-decoration-active);
  text-underline-offset: var(--link-decoration-underline-offset);
}
