/* THEME */

:root {
  /* LAYOUT */
  --content-max-width: 950px;
  --content-min-height: 500px;
  --post-card-min-width: 320px;

  /* COLOUR SCHEME */
  --colour-black: #000000;
  --colour-gray-dark: #141414;
  --colour-gray: #999999;
  --colour-white: #FFFFFF;
  --colour-highlight: #23C5B0;
  --colour-background: var(--colour-black);
  --colour-foreground: var(--colour-white);
  --colour-secondary: #0A675B;
  --colour-tertiary: #115F55;

  /* DIVIDERS AND LINES */
  --bg-image-hatch: repeating-linear-gradient(-45deg, transparent 0 2px, var(--colour-black) 4px 8px);

  /* LINKS */
  --link-decoration-default: underline solid var(--colour-tertiary) 1px;
  --link-decoration-active: underline solid var(--colour-highlight) 1px;
  --link-decoration-nav-header: underline solid var(--colour-secondary) 1px;
  --link-decoration-footer: underline solid var(--colour-white) 1px;
  --link-decoration-underline-offset: 7px;

  /* CODE BLOCKS */
  --colour-code-method: var(--colour-highlight);
  --colour-code-keyword: var(--colour-white);
  --colour-code-comment: var(--colour-gray);

  /* FONTS */
  --font-family-header: "MDIO-Black", var(--font-family-code);
  --font-family-body: var(--font-family-code);
  --font-family-code: "MDIO-Regular", monospace;
  --font-family-quote: var(--font-family-code);
  --font-size-body: 20px;
  --font-size-meta: 16px;
  --line-height-body: 32px;
  --font-site-name: normal 500 34px/44px var(--font-family-header);
  --font-site-name-small: normal 500 28px/34px var(--font-family-header);
  --font-footer: normal 500 26px/32px var(--font-family-header);
  --font-footer-small: normal 500 24px/32px var(--font-family-header);
}

/* CUSTOM FONTS */

@font-face {
  font-family: "MDIO-Black";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("MDIO-Black"),
    url("/css/fonts/MDIO-Black.woff") format("woff");
}

@font-face {
  font-family: "MDIO-Regular";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    local("MDIO"),
    local("MDIO-Regular"),
    url("/css/fonts/MDIO-Regular.woff") format("woff");
}
