{% include "common/header.njk" %}
<body class="brendan brendan_gallery">
  <section class="container">
    <header>
      {% include "common/heading.njk" %}
    </header>

    <article>
      <h2><a href="/">Home</a> > Gallery</h2>
      {% include "photos/gallery-list.njk" %}
    </article>
  </section>
</body>
{% include "common/footer.njk" %}