<!doctype html>
<html lang="en-AU">
<head>
  <meta charset="utf-8">

  <title>Freya Murty</title>

  <meta name="author" content="Freya Murty">
  <meta name="description" content="A keen Classic Wiggles and blueberries fan.">
  <meta name="handheldfriendly" content="true">
  <meta name="mobileoptimized" content="480">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#981ceb">

  <link rel="preload" href="/fonts/slabo-27_latin-ext.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="/fonts/slabo-27_latin.woff2" as="font" crossorigin="anonymous">

  <link rel="icon" sizes="192x192" href="/images/freya/icon-192.png">
  <link rel="stylesheet" href="/css/styles.min.css">

  {% include "../analytics.njk" %}
</head>
<body class="freya freya_index">
  <section id="container">
    <header>
      <h1>
        <a href="/freya">Freya Murty</a>
      </h1>
    </header>

    <article>
      {{ content | safe }}
    </article>
  </section>
</body>
</html>
