<!doctype html>
<html lang="en-AU">
  <head>
    <title>{% if title %}Brendan Murty - {{ title }}{% else %}Brendan Murty{% endif %}</title>

    <meta charSet="utf-8" />
    <meta name="handheldfriendly" content="true" />
    <meta name="mobileoptimized" content="480" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="theme-color"
      content={% if theme %}"{{ theme }}"{% else %}"#23c5b0"{% endif %}
    />
    <meta name="author" content="Brendan Murty" />
    <meta
      name="description"
      content={% if description %}"{{ description }}"{% else %}"Brendan is a Father, Schnitzel Reviewer, Software Engineering Manager and Technical Lead."{% endif %}
    />

    {% if date %}
    <meta property="article:published_time" content="{{ date | date('yyyy-MM-dd') }}" />
    {% endif %}

    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_GB" />
    <meta
      property="og:title"
      content={% if title %}"Brendan Murty - {{ title }}"{% else %}"Brendan Murty"{% endif %}
    />
    <meta property="og:url" content="https://murty.au{{ url }}" />
    <meta
      name="og:description"
      content={% if description %}"{{ description }}"{% else %}"Brendan is a Father, Schnitzel Reviewer, Software Engineering Manager and Technical Lead."{% endif %}
    />

    {% if photo_thumb_url %}
    <meta property="og:image" content="https://murty.au{{ photo_thumb_url }}">
    {% elif photo_url %}
    <meta property="og:image" content="https://murty.au{{ photo_url }}">
    {% else %}
    <meta property="og:image" content="https://murty.au/images/brendan/brendan-2024_750.png">
    {% endif %}

    <link
      rel="alternate"
      title="Posts by Brendan Murty"
      type="application/json"
      href="https://murty.au/brendan/posts.json"
    />

    <link rel="me" href="https://mastodon.social/@murty" />
    <link
      rel="icon"
      sizes="192x192"
      href={% if icon_192 %}{{ icon_192 }}{% else %}"/images/brendan/icon-192.png"{% endif %}
    />

    <link
      rel="preload"
      href="/fonts/MDIO-Black.woff"
      as="font"
      crossOrigin="anonymous"
    />
    <link
      rel="preload"
      href="/fonts/MDIO-Regular.woff"
      as="font"
      crossOrigin="anonymous"
    />
    <link rel="preload" href="/css/styles.min.css" as="style" />
    <link rel="preload" href="/css/fontawesome/css/all.min.css" as="style" />
    <link rel="preload" href="/css/fontawesome/css/fontawesome.min.css" as="style" />

    <link rel="stylesheet" href="/css/styles.min.css" />
    <link rel="stylesheet" href="/css/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/css/fontawesome/css/fontawesome.min.css" />

    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_SITE_CODE }}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ GOOGLE_ANALYTICS_SITE_CODE }}');
    </script>
  </head>
  <body{% if body_class %} class="{{ body_class }}"{% endif %}>
    <section class="container">
      <header>
        <h1>
          <a href="/" title="Go to the home page">
            <img
              class="avatar"
              alt=""
              width="150"
              height="150"
              src="/images/brendan/brendan-2024_150.webp"
            />
            Brendan Murty
          </a>
        </h1>
      </header>

      <article>{{ content | safe }}</article>

      <footer></footer>
    </section>
  </body>
</html>
