<!doctype html>
<html lang="en-AU">
  <head>
    <meta charSet="utf-8" />
    <title>{% if title %}{{ title }}{% else %}Murty{% endif %}</title>
    <meta property="og:title" content={% if title %}"{{ title }}"{% else %}"Murty"{% endif %} />
    <meta name="description" content="{{ description }}" />
    <meta name="theme-color" content="{{ theme }}" />
    <meta name="author" content="Brendan Murty" />
    <meta name="handheldfriendly" content="true" />
    <meta name="mobileoptimized" content="480" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:url" content="https://murty.au{{ url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="en_GB" />
    <link rel="icon" sizes="192x192" href={{ icon_192 }} />
    <link rel="preload" href="/css/styles.min.css" as="style" />
    <link rel="preload" href="/css/fontawesome/css/all.min.css" as="style" />
    <link rel="preload" href="/css/fontawesome/css/fontawesome.min.css" as="style" />
    <link rel="stylesheet" href="/css/styles.min.css" />
    <link rel="stylesheet" href="/css/fontawesome/css/all.min.css" />
    <link rel="stylesheet" href="/css/fontawesome/css/fontawesome.min.css" />
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_SITE_CODE }}"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', '{{ GOOGLE_ANALYTICS_SITE_CODE }}');
    </script>
  </head>
  <body{% if body_class %} class="{{ body_class }}"{% endif %}>
    <section class="container">
      <header>
        <h1>{{ title | safe }}</h1>
      </header>

      <article>{{ content | safe }}</article>
    </section>
  </body>
</html>
