/* ---- Common ---- */

/* Reset */

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* Fonts */

@font-face {
  font-family: 'MDNichrome';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('MDNichrome'), local('MDNichrome-Regular'), url('/fonts/MDNichrome-Regular.woff') format('woff');
}

@font-face {
  font-family: 'MDSystem';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('MDSystem'), local('MDSystem-Regular'), url('/fonts/MDSystem-Regular.woff') format('woff');
}

/* General */

html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  height: 100%;
  overflow-x: hidden;
}

body {
  font: normal 400 20px/32px 'MDSystem', serif;
  padding: 0;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  height: 100%;
  background-color: var(--background-colour);
  color: var(--foreground-colour);
}

h1, h2, h3, h4 {
  font-family: 'MDNichrome', serif;
  font-weight: 500;
  letter-spacing: 1.25px;
  margin: 5px 0 15px;
  padding: 0;
  clear: both;
}

h1 {
  font-size: 30px;
  line-height: 50px;
  margin-top: 0;
}

h2 {
  font-size: 25px;
  line-height: 40px;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

article h1 {
  font-size: 28px;
  line-height: 42px;
}

p {
  margin: 0 0 20px;
  clear: both;
}

img {
  height: auto;
  overflow-x: hidden;
}

ol {
  list-style: decimal outside none;
  margin: 0 0 15px 30px;
}

ul {
  list-style: disc outside none;
  margin: 0 0 15px 30px;
}

li {
  margin: 0 0 6px;
}

a, a:visited, a:hover, a:focus {
  color: var(--highlight-colour);
  text-decoration: none;
}

a:hover, a:focus {
  text-decoration: underline;
}

header h1 a,
header h1 a:visited,
header h1 a:hover,
header h1 a:focus {
  color: var(--foreground-colour);
}

/* Alterations for printed pages */
@media print {
  html {
    height: auto;
    background: #fff;
    color: #000;
  }

  @page {
    size: auto;
    margin: 0mm 0mm 0mm 0mm;
  }

  body {
    background: transparent;
    color: #000;
  }

}