/* ---- Variables ---- */

/* Defaults and for those who prefer darker colour schemes */

body {
  --highlight-colour: #23c5b0;
  --background-colour: #000000;
  --foreground-colour: #FFFFFF;
  --secondary-colour: #888888;
}

body.freya {
  --highlight-colour: #981ceb;
}

body.isla {
  --highlight-colour: #14b3fb;
}

body.luca {
  --highlight-colour: #e94e0f;
}

/* Overrides for those who prefer lighter colour schemes */

@media (prefers-color-scheme: light) {
  body {
    --background-colour: #FFFFFF;
    --foreground-colour: #000000;
    --secondary-colour: #888888;
  }
}