.brendan header {
  height: 200px;
}

.brendan header h1 {
  float: left;
  line-height: 200px;
  font-size: 65px;
  margin: 0;
}

.brendan header .avatar {
  float: right;
  border-radius: 200px;
}

ul.brendan_posts {
  list-style: none;
  margin-left: 0;
}

ul.brendan_posts li {
  margin-bottom: 20px
}

ul.brendan_posts .post-date {
  width: 125px;
  color: var(--secondary-colour);
  display: inline-block;
}

.brendan_post article img {
  clear: both;
  display: block;
}

.brendan .tag-list {
  margin: 0 0 20px;
  float: left;
}

.brendan_tags .tag-list {
  float: none;
}

.brendan .tag-list li {
  float: left;
  list-style: none outside none;
  margin: 0 25px 0 0;
}

.brendan_tags .tag-list li {
  float: none;
  margin: 0 0 20px;
}

.brendan .tag-link .icon {
  width: 15px;
  margin-right: 8px;
}

.brendan ul.listing {
  list-style: none;
  margin: 25px 0 0;
  width: 33.3%;
  float: left;
}

.brendan ul.listing li:not(.listing-header) {
  margin: 0 0 25px;
  line-height: 40px;
  float: left;
  width: 100%;
}

.brendan ul.listing li:not(.listing-header) a {
  width: 100%;
  float: left;
}

.brendan ul.listing .icon {
  height: 40px;
  font-size: 40px;
  margin-right: 10px;
  float: left;
}

.brendan ul.listing.post-latest,
.brendan ul.listing.lastfm-loved-tracks {
  width: 100%;
}

.brendan ul.listing .label {
  float: left;
  width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Medium sized screen */

@media only screen and (max-width: 900px) {
  .brendan article,
  .brendan header {
    width: 90%;
    padding: 25px 5%;
  }
  
  .brendan header {
    height: 100px;
  }
  
  .brendan header h1 {
    line-height: 100px;
    font-size: 50px;
  }

  .brendan header .avatar {
    width: 100px;
    height: auto;
  }
  
  .brendan ul.listing {
    width: 100%;
    float: none;
  }
  
  ul.brendan_posts .post-date {
    display: block;
    width: auto;
  }
}

/* Small sized screens */

@media only screen and (max-width: 500px) {
  .brendan header h1 {
    font-size: 25px;
  }

  .brendan header .avatar {
    width: 100px;
    height: auto;
  }
}

/* Print styles */

@media print {
  .brendan header {
    height: auto;
    border: 0 none;
  }
}
