/* ---- Brendan ---- */

/* Layout */

.brendan {
  background-color: var(--background-colour);
  color: var(--foreground-colour);
  min-width: 350px;
}

.brendan a {
  border-color: transparent;
  color: var(--highlight-colour);
}

.brendan a:focus,
.brendan a:hover {
  border-color: var(--highlight-colour);
}

.brendan ::-moz-selection,
.brendan ::selection {
  background: var(--highlight-colour);
  color: var(--secondary-colour);
  text-shadow: none;
}

.brendan #container {
  max-width: none;
  width: 100%;
}

.brendan article {
  box-sizing: border-box;
  float: none;
  height: 100%;
  margin: 0 auto;
  max-width: 1000px;
  overflow-y: auto;
  padding: 2%;
  width: 100%;
}

/* Header */

.brendan header {
  padding: 2%;
  float: left;
  width: 100%;
  box-sizing: border-box;
  background-color: #000;
}

.brendan header h1 {
  font-size: 45px;
  line-height: 150px;
  height: 150px;
  width: 100%;
  margin: 0 auto;
  float: none;
  padding: 0 2%;
  max-width: 1000px;
  box-sizing: border-box;
}

.brendan header h1 a {
  border-bottom: none;
  color: var(--foreground-colour);
  display: block;
}

.brendan header h1 .avatar {
  float: left;
  margin-right: 30px;
  width: 150px;
  height: 150px;
  border-radius: 150px;
}

/* Content */

.brendan_index p:first-child {
  font-size: 28px;
  line-height: 42px;
}

ul.brendan_posts {
  list-style: none outside none;
  margin-left: 0;
}

ul.brendan_posts li {
  margin: 0 0 10px;
}

ul.brendan_posts .post-date {
  width: 115px;
  color: var(--secondary-colour);
  display: inline-block;
}

.brendan_post article img {
  clear: both;
  display: block;
}

.brendan h1,
.brendan h2,
.brendan h3,
.brendan h4,
.brendan h5 {
  color: var(--foreground-colour);
}

.brendan pre,
.brendan blockquote {
  color: var(--secondary-colour);
  background-color: #000;
}

.brendan article img {
  max-width: 100%
}

/* Content lists */

.brendan ul.social {
  margin: 40px 0 0;
}

.brendan ul.social li {
  list-style: none outside none;
  float: left;
  text-align: center;
  margin-right: 20px;
  padding: 0;
  width: 22%;
  min-width: 140px;
  height: 100px;
  box-sizing: border-box;
}

.brendan ul.social a {
  width: 100%;
  float: left;
  border: none;
  padding: 10px;
  line-height: 40px;
}

.brendan ul.social a span {
  float: left;
  margin-left: 12px;
  border-bottom: 1px solid transparent;
}

.brendan ul.social a:focus span,
.brendan ul.social a:hover span {
  border-color: var(--highlight-colour);
}

.brendan ul.social img {
  width: 40px;
  height: 40px;
  float: left;
}

/* Resume page */

.brendan_resume p {
  padding-left: 20px;
}

.brendan_resume blockquote {
  background-color: transparent;
  color: var(--secondary-colour);
  font-style: italic;
}

.brendan_resume blockquote p {
  padding-left: 0;
}

.brendan_resume .pdf-download .svg {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

/* Alterations for certain screen sizes */

@media only screen and (max-width: 800px) {
  .brendan ul.social li {
    width: 30%;
  }

	ul.brendan_posts .post-date {
    display: block;
    width: auto;
  }
}

@media only screen and (max-width: 600px) {
  .brendan header {
    height: 240px;
  }
  
  .brendan header h1 {
    line-height: 70px;
    text-align: center;
  }

  .brendan header h1 .avatar {
    clear: right;
    display: block;
    float: none;
    margin: 0 auto;
  }
  
  .brendan ul.social li {
    width: 44%;
  }
}

/* Print styles */

@media print {
  .brendan,
  .brendan header h1 a,
  .brendan h1,
  .brendan h2,
  .brendan h3,
  .brendan h4,
  .brendan h5,
  .brendan_resume article * {
    color: #000 !important;
    background: transparent !important;
  }

  .brendan_resume {
    overflow-x: hidden;
  }

  .brendan_resume article {
    margin: 0;
    padding: 0 2%;
    width: 100%;
  }

  .brendan_resume article a:after {
    content: " " attr(href) " ";
    font-size: 0.75em;
    font-weight: normal;
    font-style: italic;
  }

  .brendan_resume article blockquote {
    width: 70%;
    max-width: 70%;
  }
  
  .brendan_resume .pdf-download {
    display: none;
  }
}
