/* ---- Common ---- */

/* Reset */

@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

body {
  font: 16px/1.3em sans-serif;
  *font-size: small;
}

select, input, textarea, button {
  font: 99% sans-serif;
}

a:hover, a:active {
  outline: 0;
}

ul, ol {
  margin-left: 1.8em;
  clear: both;
}

ol {
  list-style-type: decimal;
}

nav ul, nav li {
  margin: 0;
}

small {
  font-size: 85%;
}

strong, th {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

sub {
  vertical-align: sub;
  font-size: smaller;
}

sup {
  vertical-align: super;
  font-size: smaller;
}

textarea {
  overflow: auto;
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

label, input[type=button], input[type=submit], button {
  cursor: pointer;
}

button, input, select, textarea {
  -webkit-appearance: none;
  border-radius: 0;
  margin: 0;
}

input:invalid, textarea:invalid {
  border-radius: 1px;
  -moz-box-shadow: 0 0 5px red;
  -webkit-box-shadow: 0 0 5px red;
  box-shadow: 0 0 5px red;
}

::-moz-selection {
  background: #00549d;
  color: #fff;
  text-shadow: none;
}

::selection {
  background: #00549d;
  color: #fff;
  text-shadow: none;
}

a:link {
  -webkit-tap-highlight-color: #00549d;
}

button {
  width: auto;
  overflow: visible;
}

input[type="submit"], input[type="text"] {
  line-height: normal;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* Fonts */

@font-face {
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Slabo 27px'), local('Slabo27px-Regular'), url('/fonts/slabo-27_latin-ext.woff2') format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Slabo 27px';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Slabo 27px'), local('Slabo27px-Regular'), url('/fonts/slabo-27_latin.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* General */

html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
  height: 100%;
  overflow-x: hidden;
}

body {
  font: normal 400 20px/32px 'Slabo 27px', serif;
  padding: 0;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-overflow-scrolling: touch;
  height: 100%;
}

h1, h2, h3, h4 {
  font-family: 'Slabo 27px', serif;
  color: #000;
  font-weight: 400;
  margin: 5px 0 15px;
  padding: 0;
  clear: both;
}

h1 {
  font-size: 30px;
  line-height: 50px;
  font-weight: 700;
  margin-top: 0;
}

h2 {
  font-size: 25px;
  line-height: 40px;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

h4, .brendan_resume article li strong {
  font-size: 20px;
  line-height: 25px;
}

h5, .brendan_resume article h4 strong {
  font-size: 16px;
  line-height: 25px;
}

article h1 {
  font-size: 28px;
  line-height: 42px;
}

p {
  margin: 0 0 20px;
  clear: both;
}

a {
  color: #00549d;
  outline: 0;
  text-decoration: none;
  border-bottom: 1px solid #aaa;
}

a:active, a:focus, a:hover, a:visited {
  color: #00549d;
  text-decoration: none;
}

img {
  height: auto;
  overflow-x: hidden;
}

ol {
  list-style: decimal outside none;
  margin: 0 0 15px 30px;
}

ul {
  list-style: disc outside none;
  margin: 0 0 15px 30px;
}

li {
  margin: 0 0 6px;
}

hr {
  display: block;
  padding: 0;
  border: 0;
  background-color: #ccc;
  height: 2px;
  margin: 50px 0;
  width: 100%;
  clear: both;
  position: relative;
  top: 20px;
}

.center {
  text-align: center;
}

.avatar-image {
  width: 200px;
  border-radius: 200px;
  clear: both;
  display: block;
  margin: 0 auto 20px;
}

.feed li, nav li {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}

.first {
  margin-top: 0;
  padding-top: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.noselect, nav, .post-listing li, section#about {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: default;
}

pre {
  width: 95%;
  padding: 1.5% 2.5%;
  margin: 10px 0 20px;
  color: #666;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

pre code {
  width: 100%;
  font: normal 18px/23px Georgia, Times, Times New Roman, serif;
}

blockquote {
  width: 95%;
  padding: 1.5% 2.5%;
  margin: 10px 0 20px;
  background: #e0e0e0;
  color: #333;
}

blockquote p:last-child {
  margin-bottom: 0;
}

#container {
  width: 100%;
  padding: 0;
  margin: 0 auto;
  max-width: 1500px;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

article {
  padding: 2% 20%;
  width: 60%;
  margin: 0;
  float: left;
}

/* Lists */

ul.listing, .listing ul {
  list-style: none;
  margin: 0;
}

ul.listing li, .listing ul li {
  margin: 0 0 20px;
  padding: 0;
}

.listing .sites {
  margin-top: 10px;
}

/* Breadcrumbs */

nav.breadcrumbs {
  width: 100%;
  margin: 2% 0 0;
  float: left;
}

nav.breadcrumbs li, nav.breadcrumbs .current_page {
  float: left;
}

nav.breadcrumbs a, nav.breadcrumbs .divider {
  margin: 0 10px 0 0;
}

/* Alterations for specific screen sizes */

@media only screen and (max-width: 600px) {
  #container {
    padding-bottom: 80px
  }

  nav.sites {
    position: fixed;
    width: 100%;
    max-width: 100%;
    clear: both;
    box-sizing: border-box;
    padding: 16px 0 0;
    text-align: center;
    background-color: transparent;
    color: #000;
    top: auto;
    bottom: 10px;
    left: 10px;
  }
}

/* Alterations for printed pages */
@media print {
  html {
    height: auto;
  }

  article, header, nav {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }

  article {
    padding-left: 2%;
    padding-right: 2%;
    width: 96%;
  }

  .noprint, header ul, footer, form .button, .listing.social {
    display: none;
  }

  body.brendan, body.isla, body.murty {
    background-color: transparent;
  }

  h1, h2, h3, h4, .post-listing .info {
    width: 100%;
    max-width: 100%;
    color: #000;
  }

  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  a, a:visited {
    color: #00549d;
    text-decoration: none;
  }

  img, pre, blockquote, form .text {
    display: block;
    page-break-inside: avoid;
  }

  @page {
    size: auto;
    margin: 0mm 0mm 0mm 0mm;
  }
}