/* ---- Luca ---- */

/* Links and text selection */

.luca a,
.luca a:active,
.luca a:focus,
.luca a:hover,
.luca a:visited {
  color: var(--highlight-colour);
  border: none;
}

.luca ::-moz-selection {
  background: var(--highlight-colour);
  color: var(--secondary-colour);
  text-shadow: none;
}

.luca ::selection {
  background: var(--highlight-colour);
  color: var(--secondary-colour);
  text-shadow: none;
}

/* Layout */

.luca {
  background: var(--background-colour);
  color: var(--foreground-colour);
}

.luca_index {
  text-align: center;
}

.luca_index header h1 {
  text-align: center;
  float: none;
  clear: both;
  margin: 30px 0 10px;
}

.luca_index header h1 a,
.luca_index header h1 a:active,
.luca_index header h1 a:focus,
.luca_index header h1 a:hover,
.luca_index header h1 a:visited {
  border: none;
  color: var(--secondary-colour);
  background-color: var(--highlight-colour);
  padding: 10px 20px;
}
